body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 0;
    display: block;
}

.card-body {
    padding: 0;
    border-radius: 20px;
}

.card-title {
    color: #94A0E9;
}

input::placeholder {
    font-size: 12px;
    color: #CCD1F3 !important;
    font-weight: 600 !important;
}

.form-input {
    width: 80%;
    margin: auto;
}

.form-control {
    color: #495057;
    background-color: #EBEDFA;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.25rem;
    width: 100%;
    /* Mengambil lebar penuh dari .form-inp */
}

.form-label {
    font-size: 12px;
}

.btn-lgn {
    background-color: #5562B3;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #ffffff;
}

.btn-lgn:hover {
    background-color: #364393;
    border: none;
    color: #ffffff;
}

.btn-dft {
    background-color: #ffffff;
    border-color: #5562B3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #5562B3;
}

.btn-dft:hover {
    background-color: #5562B3;
    border: none;
    color: #ffffff;
}

.btn-lgn,
.btn-dft {
    width: 100%;
    margin: auto;
    display: block;
}

.text-decoration-none {
    font-size: 13px;
    color: #94A0E9
}

.text-decoration-none:hover {
    color: #5562B3;
}

.form {
    padding: 1rem 2rem;
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-inp {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    flex: 1;
    max-width: 38%;
}