<!DOCTYPE html>
<html lang="en">
{% include 'component/head.html' %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3 mt-3">
                            <strong>Lupa Kata Sandi</strong>
                        </h5>
                        <form action="{{ url_for('forgot_password') }}" method="post">
                            <!-- Input Email -->
                            <div class="form-input mb-4">
                                <label for="email" class="form-label card-title"><strong>Email :</strong></label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Masukkan Email Anda" required />
                                
                                <!-- Pesan Flash -->
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% for category, message in messages %}
                                    {% if category == 'danger' and 'Email' in message %}
                                        <small class="text-danger">{{ message }}</small>
                                    {% elif category == 'success' %}
                                        <small class="text-success">{{ message }}</small>
                                    {% endif %} 
                                {% endfor %}
                                {% endwith %}
                            </div>
                            <!-- Tombol Submit -->
                            <div class="form-input">
                                <button type="submit" class="btn btn-lgn mb-3">Kirim</button>
                            </div>
                            <div class="form-input text-center">
                                <a href="{{ url_for('login') }}" class="btn btn-dft">Kembali ke Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'component/script.html' %}
</body>

</html>
