<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pipiw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='asset/css/style.css') }}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='asset/img/logo/logo.png') }}" alt="">{{ title }}
            </div>
            <ul class="nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Teacher Major</a></li>
                <li><a href="#">Major</a></li>
            </ul>
            <div class="button">
                <a href="#"><button>Login</button></a>
                <a href="#"><button>Register</button></a>
            </div>
        </nav>
    </header>
</body>
</html>