<!DOCTYPE html>
<html lang="en">
{% include 'component/head.html' %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='assets/img2/Group 10.2.png') }}" />
                        <h5 class="card-title text-center mb-3 mt-3">
                            <strong>Selamat Datang Kembali!</strong>
                        </h5>
                        <form action="{{ url_for('login') }}" method="post">
                            <div class="form-input mb-3">
                                <label for="nip" class="form-label card-title"><strong>NIP :</strong></label>
                                <input type="text" name="nip" class="form-control" id="nip" placeholder="Masukkan NIP Anda" required />
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% for category, message in messages %}
                                        {% if category == 'danger' %}
                                            <div class="alert alert-danger mt-2">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="form-input mb-4">
                                <label for="password" class="form-label card-title"><strong>Kata Sandi :</strong></label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Masukkan Kata Sandi Anda" required />
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% for category, message in messages %}
                                        {% if category == 'danger' %}
                                            <div class="alert alert-danger mt-2">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                                <p class="text-end mt-2">
                                    <a href="#" class="text-decoration-none"><strong>Lupa Kata Sandi?</strong></a>
                                </p>
                            </div>
                            <div class="form-input">
                                <button type="submit" class="btn btn-lgn mb-3">Masuk</button>
                            </div>
                            <div class="form-input mb-4">
                                <a href="{{ url_for('register') }}" class="btn btn-dft" type="button">
                                    Daftar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'component/script.html' %}
</body>

</html>
