<!DOCTYPE html>
<html lang="en">
{% include 'component/head.html' %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3 mt-3">
                            <strong>Atur Ulang Kata Sandi</strong>
                        </h5>
                        
                        <!-- Menampilkan pesan error jika ada -->
                        {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                        {% endif %}

                        <form action="{{ url_for('reset_password', token=token) }}" method="post">
                            <!-- Input Password Baru -->
                            <div class="form-input mb-4">
                                <label for="password" class="form-label card-title"><strong>Kata Sandi Baru :</strong></label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Masukkan Kata Sandi Baru" required />
                            </div>
                            <!-- Tombol Submit -->
                            <div class="form-input">
                                <button type="submit" class="btn btn-lgn mb-3">Reset Kata Sandi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'component/script.html' %}
</body>

</html>
